{% extends "base.html" %}

{% block title %}Foursquare via SMS{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for(".static", filename="screen.css") }}" type="text/css" media="screen">
{% endblock %}

{% block content %}

<div id="content">
    <div class="section-header">Get Started</div>

    <div class="section-body">
        <div class="section-info">
            <h3>Phone number</h3>
            <p>Enter your phone number and we'll send you an SMS with a
            code. Enter that code to confirm your number and then you can
            start checking in.</p>
        </div>
        <div class="section-ctrl">
            <form action="javascript:foursquare.confirm_number();">
                <div class="input-block">
                    <span class="input-left">+1</span>
                    <span class="input-middle">
                        <input type="text" id="phone-input" size="12" {% if user.phone %}value="{{ user.phone[:3] }}-{{ user.phone[3:6] }}-{{ user.phone[6:] }}"{% endif %}>
                    </span>
                </div>
            </form>
            <div class="ctrl-text" id="phone-result">
                {% if not user.confirmed %}Not confirmed.
                {% if user.code %}<a href="javascript:foursquare.confirm_number();">Re-send code.</a>{% endif %}
                {% else %}Confirmed.{% endif %}
            </div>
        </div>
    </div>

    <div id="enter-code-modal" style="display: none;">
        <div class="modal-bkg"></div>
        <div class="modal">
            <div class="modal-inner">
                <form action="javascript:foursquare.confirm_number();">
                    <div id="enter-code-input">
                        <input type="text" id="phone-input" size="12">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="section-body">
        <div class="section-info">
            <h3>Basic check-in syntax</h3>
            <p>Enter your phone number and we'll send you an SMS with a
            code. Enter that code to confirm your number and then you can
            start checking in.</p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for(".static", filename="zepto.min.js") }}"></script>
<script src="/4sq.js"></script>
{% endblock %}
